<!DOCTYPE html>
<html>
<head>
  {% if page.is_standard %}
  	{% assign page_title = page.slug | upcase | append: ': ' | append: page.title %}
  {% else %}
  	{% assign page_title = page.title %}
  {% endif %}

  {% if page.description %}
	 {% assign page_description = page.description %}
  {% else %}
  	{% assign page_description = site.description %}
  {% endif %}


  {% if page.image %}
  	{% assign page_image = site.url | append: site.baseurl | append: '/assets/og-images/' | append: page.image %}
  {% else %}
  	{% assign page_image = site.url | append: site.baseurl | append: '/assets/og-images/default.jpg' %}
  {% endif %}

  {% assign page_url = site.url | append: site.baseurl | append: page.url %}

  <title>{{ page_title }}</title>
  <meta name="description" content="{{ page_description }}">
  <meta name="viewport" content="width=device-width, initial-scale=0.8">
  {% if page.date %}
  	<meta name="DC.date" scheme="W3CDTF" content="{{ page.date | date: '%F' }}">
  {% endif %}

  <!-- OpenGraph Tags -->
  <meta property="og:title" content="{{ page_title }}">
  <meta property="og:description" content="{{ page_description }}">
  <meta property="og:url" content="{{ page_url }}">
  <meta property="og:locale" content="en_GB">
  <meta property="og:site_name" content="{{ site.title }}">

  <meta property="og:image" content="{{ page_image }}">
  <meta property="og:image:width" content="1200">
  <meta property="og:image:height" content="630">

  {% if page.title %}
  	<meta property="og:type" content="article">
  {% else %}
  	<meta property="og:type" content="website">
  {% endif %}

  <!-- Twitter tags -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@{{ site.share.twitter_username }}"> <!-- TODO: Add a username to config -->
  <meta name="twitter:title" content="{{ page_title }}">
  <meta name="twitter:url" content="{{ page_url }}">
  <meta name="twitter:description" content="{{ page_description }}">
  <meta name="twitter:creator" content="@{{ site.share.twitter_username }}"> <!-- TODO: Add username or remove -->
  <meta name="twitter:image:src" content="{{ page_image }}">

  <link rel="canonical" href="{{ page_url }}" />
  <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">

  <link rel="stylesheet" href="{{ site.baseurl }}/assets/styles.css" type="text/css">

  <!-- Favicons -->
  {% assign favicon_base = site.url | append: site.baseurl | append: '/assets/favicons' %}
  <link rel="apple-touch-icon" sizes="180x180" href="{{ favicon_base }}/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ favicon_base }}/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ favicon_base }}/favicon-16x16.png">
  <link rel="manifest" href="{{ favicon_base }}/manifest.json">
  <link rel="mask-icon" href="{{ favicon_base }}/safari-pinned-tab.svg" color="#ff0000">
  <link rel="shortcut icon" href="{{ site.url }}{{ site.baseurl }}/favicon.ico">
  <meta name="msapplication-config" content="{{ favicon_base }}/browserconfig.xml">
  <meta name="theme-color" content="#1c2329">

  {% if jekyll.environment == "production" %}
  <!-- Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', '{{ site.google_analytics }}');
  </script>
  {% endif %}
</head>
<body>
  <article>
    <h1>{{ page_title }}</h1>
    {{content}}
  </article>
</body>
