<!DOCTYPE html>
<html>
<head>
  {% if page.is_standard %}
  	{% assign page_title = page.slug | upcase | append: ': ' | append: page.title %}
  {% else %}
  	{% assign page_title = page.title %}
  {% endif %}

  <title>{{ page_title }}</title>
  {% if page.date %}
  	<meta name="DC.date" scheme="W3CDTF" content="{{ page.date | date: '%F' }}">
  {% endif %}

  <link rel="canonical" href="{{ site.url | append: site.baseurl }}{{ page.url }}" />
  <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">

  <link rel="stylesheet" href="{{ site.baseurl }}/assets/styles.css" type="text/css">
</head>
<body>
  <article>
    <h1>{{ page_title }}</h1>
    {{content}}
  </article>
</body>
